@inherits CheckboxBase
@if (IsDisable)
{
    <label class="checkbox"> <input type="checkbox" name="@Name" disabled />@ChildContent </label>
}
else
{<label class="checkbox"> <input type="checkbox" name="@Name" />@ChildContent </label>}