@page "/"
@namespace ExampleSite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>UIBlazor ExampleSite</title>
    <base href="/" />
    <link href="css/bulma.min.css" rel="stylesheet" />
    <link href="css/bulma-docs.min.css" rel="stylesheet" />
    <link href="fontawesome5/css/all.min.css" rel="stylesheet" />
    <link href="prism/prism.css" rel="stylesheet" />

</head>

<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="prism/prism.js" data-manual></script>

</body>

</html>
