@page "/Doc/Table"
<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        
        <UIContent>
            <p>表格较为复杂，而且原本使用的 css 对表格的支持不强，所以暂时不弄。</p>
        </UIContent>
    </UIColumn>
</UIColumns>