@page "/Doc/Tag"

<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        <UIH2>Tag 标签</UIH2>
        <UIColumns>
            <UIColumn Size="UIEColumnSize.X6">
                <UIContent>
                    <p>
                        内容等待完善。
                        相当于 Bootstrap 中的 Badge，效果如下。
                    </p>
                </UIContent>
                <UIBox>
                    <UITag>666</UITag>
                </UIBox>
            </UIColumn>
            <UIColumn Size="UIEColumnSize.X6">
                <UIBox>
                    <pre>
            &lt;UITag&gt;666&lt;/UITag&gt;
</pre>
                </UIBox>
            </UIColumn>
        </UIColumns>
        <UIColumns>
            <UIColumn Size="UIEColumnSize.X6">
                <UIContent>
                    <p>
                        你可以使用 Color 属性设置徽章颜色。
                    </p>
                </UIContent>
                <UIBox>
                    <UITag Color="UIEColor.Black">Black</UITag>
                    <UITag Color="UIEColor.Dark">Dark</UITag>
                    <UITag Color="UIEColor.Light">Light</UITag>
                    <UITag Color="UIEColor.While">While</UITag>
                    <UITag Color="UIEColor.Primary">Primary</UITag>
                    <UITag Color="UIEColor.Link">Link</UITag>
                    <UITag Color="UIEColor.Info">Info</UITag>
                    <UITag Color="UIEColor.Success">Success</UITag>
                    <UITag Color="UIEColor.Warning">Warning</UITag>
                    <UITag Color="UIEColor.Danger">Danger</UITag>
                </UIBox>
            </UIColumn>
            <UIColumn Size="UIEColumnSize.X6">
                <UIBox>
                    <pre>
            &lt;UITag Color=&quot;UIEColor.Black&quot;&gt;Black&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Dark&quot;&gt;Dark&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Light&quot;&gt;Light&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.While&quot;&gt;While&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Primary&quot;&gt;Primary&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Link&quot;&gt;Link&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Info&quot;&gt;Info&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Success&quot;&gt;Success&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Warning&quot;&gt;Warning&lt;/UITag&gt;
            &lt;UITag Color=&quot;UIEColor.Danger&quot;&gt;Danger&lt;/UITag&gt;
</pre>
                </UIBox>
            </UIColumn>
        </UIColumns>

    </UIColumn>
</UIColumns>
