@inherits BreadBase
<li class="@_allClass" @attributes="UIAttributes">@ChildContent</li>
@code{

    [Parameter]
    public bool IsActive { get; set; }
    protected override void UIInit()
    {
        _allClass = (IsActive ? "is-active" : "");
    }
}