@page "/Doc/Checkbox"
<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        <h2 class="title is-2">复选框(UICheckbox)</h2>
        <UIContent>
            <p>直接使用就是了。没有啥属性配置，不能设置颜色，不能设置大小。</p>
        </UIContent>
        <UIColumns>
            <UIColumn Size="UIEColumnSize.Half">
                <UICheckbox>选择框</UICheckbox>
            </UIColumn>
            <UIColumn Size="UIEColumnSize.Half">
                <UICode>
                    &lt;UICheckbox&gt;选择框&lt;/UICheckbox&gt;
                </UICode>
            </UIColumn>
        </UIColumns>
    </UIColumn>
</UIColumns>
