@page "/Doc/Footer"
<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        <UIContent>
            <UIH2>页脚(UIFooter)</UIH2>
            <p>无特殊效果，用于声明内容块呈现到页面底部。</p>
        </UIContent>
        <UIFooter>
            <UIContent Align="UIEAlign.Center">
                <strong>CZGL.Blazor</strong> by <a href="/">痴者工良</a>. The css(Bulma) source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </UIContent>
        </UIFooter>
        <UICode>
            &lt;UIFooter&gt;
            &lt;UIContent Align=&quot;UIEAlign.Center&quot;&gt;
            &lt;strong&gt;CZGL.Blazor&lt;/strong&gt; by &lt;a href=&quot;/&quot;&gt;痴者工良&lt;/a&gt;. The css(Bulma) source code is licensed
            &lt;a href=&quot;http://opensource.org/licenses/mit-license.php&quot;&gt;MIT&lt;/a&gt;. The website content
            is licensed &lt;a href=&quot;http://creativecommons.org/licenses/by-nc-sa/4.0/&quot;&gt;CC BY NC SA 4.0&lt;/a&gt;.
            &lt;/UIContent&gt;
            &lt;/UIFooter&gt;
        </UICode>
    </UIColumn>
</UIColumns>

