@page "/Doc/Level"

<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        <UIH2>Level</UIH2>
        <UIH3 IsSubTitle="true">多功能的水平布局组件</UIH3>
        <UIContent>
            <p>
                <code>UILevel</code> 是多功能的水平 Level，可以包含几乎所有的元素，主要功能是将内部元素水平排布。
            </p>
            <p>
                其结构如下：
                <ul>
                    <li><code>UILevel</code> 最外层容器</li>
                    <ul>
                        <li><code>UILevelLeft</code> 最左侧</li>
                        <li><code>UILevelRight</code> 最右侧</li>
                        <ul>
                            <li><code>UILevelItem</code> 独立元素，最小单元</li>
                        </ul>
                    </ul>
                </ul>
            </p>
            <p>
                添加的组件元素项，会垂直对齐，就是说元素往左右两边开始，向中间靠拢。
                当然 <code>UILevelLeft</code> 和 <code>UILevelRight</code> 用于对齐元素位置，属于辅助功能，并不是必须的。
            </p>
            <p>下面我们来设计一个简单的水平组件。</p>
        </UIContent>
        <UIBox>
            <UILevel>
                <UILevelLeft>
                    <UILevelItem>
                        <UIH5 IsSubTitle="true"><strong>123</strong> posts</UIH5>
                    </UILevelItem>
                    <UILevelItem>
                        <UIField IsAddon="true">
                            <UIControl>
                                <UIInput Placeholder="Fina apost" />
                            </UIControl>
                            <UIControl>
                                <UIButton>Search</UIButton>
                            </UIControl>
                        </UIField>
                    </UILevelItem>
                </UILevelLeft>
                <UILevelRight>

                    <UILevelItem><strong>All</strong></UILevelItem>
                    <UILevelItem><a>Published</a></UILevelItem>
                    <UILevelItem><a>Drafts</a></UILevelItem>
                    <UILevelItem><a>Deleted</a></UILevelItem>
                    <UILevelItem><a href="#"><UIButton Color="UIEColor.Success">New</UIButton></a></UILevelItem>
                </UILevelRight>
            </UILevel>
        </UIBox>
        <UIBox>
            <UICodeShow>
            @((MarkupString)@"&lt;UILevel&gt;
                &lt;UILevelLeft&gt;
                    &lt;UILevelItem&gt;
                        &lt;UIH5 IsSubTitle=&quot;true&quot;&gt;&lt;strong&gt;123&lt;/strong&gt; posts&lt;/UIH5&gt;
                    &lt;/UILevelItem&gt;
                    &lt;UILevelItem&gt;
                        &lt;UIField IsAddon=&quot;true&quot;&gt;
                            &lt;UIControl&gt;
                                &lt;UIInput Placeholder=&quot;Fina apost&quot; /&gt;
                            &lt;/UIControl&gt;
                            &lt;UIControl&gt;
                                &lt;UIButton&gt;Search&lt;/UIButton&gt;
                            &lt;/UIControl&gt;
                        &lt;/UIField&gt;
                    &lt;/UILevelItem&gt;
                &lt;/UILevelLeft&gt;
                &lt;UILevelRight&gt;

                    &lt;UILevelItem&gt;&lt;strong&gt;All&lt;/strong&gt;&lt;/UILevelItem&gt;
                    &lt;UILevelItem&gt;&lt;a&gt;Published&lt;/a&gt;&lt;/UILevelItem&gt;
                    &lt;UILevelItem&gt;&lt;a&gt;Drafts&lt;/a&gt;&lt;/UILevelItem&gt;
                    &lt;UILevelItem&gt;&lt;a&gt;Deleted&lt;/a&gt;&lt;/UILevelItem&gt;
                    &lt;UILevelItem&gt;&lt;a href=&quot;#&quot;&gt;&lt;UIButton Color=&quot;UIEColor.Success&quot;&gt;New&lt;/UIButton&gt;&lt;/a&gt;&lt;/UILevelItem&gt;
                &lt;/UILevelRight&gt;
            &lt;/UILevel&gt;")
            </UICodeShow>
        </UIBox>

        <UIContent>
            <p>前面说了 <code>UILevelLeft</code> 和 <code>UILevelRight</code> 只是用于对齐元素，如果只使用 <code>UILevelItem</code> ，则元素是居中对齐的。</p>
        </UIContent>
        <UIBox>
            <UILevel>
                <UILevelItem Align="UIEAlign.Center">
                    <UIContent>
                        <p class="heading">Tweets</p>
                        <p class="title">3,456</p>
                    </UIContent>
                </UILevelItem>
                <UILevelItem Align="UIEAlign.Center">
                    <UIContent>
                        <p class="heading">Following</p>
                        <p class="title">123</p>
                    </UIContent>
                </UILevelItem>
                <UILevelItem Align="UIEAlign.Center">
                    <UIContent>
                        <p class="heading">Followers</p>
                        <p class="title">456K</p>
                    </UIContent>
                </UILevelItem>
                <UILevelItem Align="UIEAlign.Center">
                    <UIContent>
                        <p class="heading">Likers</p>
                        <p class="title">789</p>
                    </UIContent>
                </UILevelItem>
            </UILevel>
        </UIBox>

        <UIBox>
            <UICodeShow>
            @((MarkupString)@"&lt;UILevel&gt;
                &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                    &lt;UIContent&gt;
                        &lt;p class=&quot;heading&quot;&gt;Tweets&lt;/p&gt;
                        &lt;p class=&quot;title&quot;&gt;3,456&lt;/p&gt;
                    &lt;/UIContent&gt;
                &lt;/UILevelItem&gt;
                &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                    &lt;UIContent&gt;
                        &lt;p class=&quot;heading&quot;&gt;Following&lt;/p&gt;
                        &lt;p class=&quot;title&quot;&gt;123&lt;/p&gt;
                    &lt;/UIContent&gt;
                &lt;/UILevelItem&gt;
                &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                    &lt;UIContent&gt;
                        &lt;p class=&quot;heading&quot;&gt;Followers&lt;/p&gt;
                        &lt;p class=&quot;title&quot;&gt;456K&lt;/p&gt;
                    &lt;/UIContent&gt;
                &lt;/UILevelItem&gt;
                &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                    &lt;UIContent&gt;
                        &lt;p class=&quot;heading&quot;&gt;Likers&lt;/p&gt;
                        &lt;p class=&quot;title&quot;&gt;789&lt;/p&gt;
                    &lt;/UIContent&gt;
                &lt;/UILevelItem&gt;
            &lt;/UILevel&gt;")
            </UICodeShow>
        </UIBox>
        <UIContent>
            <p>下面是一个顶部菜单栏的示例：</p>
        </UIContent>
        <UILevel>
            <UILevelItem Align="UIEAlign.Center">
                <a class="link is-info">Home</a>
            </UILevelItem>
            <UILevelItem Align="UIEAlign.Center">
                <a class="link is-info">Menu</a>
            </UILevelItem>
            <UILevelItem Align="UIEAlign.Center">
                <img src="/images/128x128.png" alt="" style="height: 30px;">
            </UILevelItem>
            <UILevelItem Align="UIEAlign.Center">
                <a class="link is-info">Reservations</a>
            </UILevelItem>
            <UILevelItem Align="UIEAlign.Center">
                <a class="link is-info">Contact</a>
            </UILevelItem>
        </UILevel>
        <UIBox>
            <UICodeShow>
        @((MarkupString)@"&lt;UILevel&gt;
            &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                &lt;a class=&quot;link is-info&quot;&gt;Home&lt;/a&gt;
            &lt;/UILevelItem&gt;
            &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                &lt;a class=&quot;link is-info&quot;&gt;Menu&lt;/a&gt;
            &lt;/UILevelItem&gt;
            &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                &lt;img src=&quot;/images/128x128.png&quot; alt=&quot;&quot; style=&quot;height: 30px;&quot;&gt;
            &lt;/UILevelItem&gt;
            &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                &lt;a class=&quot;link is-info&quot;&gt;Reservations&lt;/a&gt;
            &lt;/UILevelItem&gt;
            &lt;UILevelItem Align=&quot;UIEAlign.Center&quot;&gt;
                &lt;a class=&quot;link is-info&quot;&gt;Contact&lt;/a&gt;
            &lt;/UILevelItem&gt;
        &lt;/UILevel&gt;")
            </UICodeShow>
        </UIBox>

    </UIColumn>
</UIColumns>

