@page "/Doc/Media"
<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        <UIH2>媒体对象(UIMedia)</UIH2>
        <UIH4>容纳多种媒体组件的容器。</UIH4>
        <UIContent>
            <p><code>UIMedia</code> 组件可用于组成复杂的媒体对象。</p>
            <p>其内部组成层次结构为：</p>
            <ul>
                <li><code>UIMedia</code> 最外层容器</li>
                <ul>
                    <li><code>UIMediaLeft</code> 靠左</li>
                    <li><code>UIEMediaContent</code>中间</li>
                    <li><code>UIMediaRight</code> 靠右</li>
                </ul>
            </ul>
            <p><code>UIMedia</code> 将内部分为左中右三个部分。</p>
            <p>
                <code>UIMedia</code> 和 <code>UILevel</code> 较为相似，都是用于水平组合多种元素。
                <code>UILevel</code> 主要是水平多种元素，靠左靠右浮动。<code>UIMedia</code> 是左中右三个部分组成。
            </p>
        </UIContent>
        <UIContent>
            <p><code>UIMedia</code> 媒体对象组件非常适合重复嵌套的UI元素。内容分为左中右三个部分。下面来完成一些组合元素块。代码模板如下：</p>
            <UICode>
                &lt;UIMedia&gt;
                &lt;UIMediaLeft&gt;
                &lt;!----&gt;
                &lt;/UIMediaLeft&gt;

                &lt;UIMediaContent&gt;
                &lt;!----&gt;
                &lt;/UIMediaContent&gt;

                &lt;UIMediaRight&gt;
                &lt;!----&gt;
                &lt;/UIMediaRight&gt;
                &lt;/UIMedia&gt;
            </UICode>
        </UIContent>
        <UIContent>
            <p>下面来做一个类似推特消息的组合组件。</p>
        </UIContent>
        <UIBox>
            <UIColumns>
                <UIColumn>
                    @if (IsShow)
                    {
                        <UIMedia>
                            <UIMediaLeft>
                                <UIImage Size="UIEImageSize.PX128">
                                    <img src="images/128x128.png">
                                </UIImage>
                            </UIMediaLeft>
                            <UIMediaContent>
                                <UIContent>
                                    <p>
                                        <strong>John Smith</strong> <small>&#64;johnsmith</small> <small>31m</small>
                                        <br>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                    </p>
                                </UIContent>
                                <UILevel>
                                    <UILevelLeft>
                                        <UILevelItem>
                                            <a><UIIcon Size="UIETextSize.Small" Color="UIETextColor.Info" IconClass="fas fa-reply" /></a>
                                        </UILevelItem>
                                        <UILevelItem>
                                            <a><UIIcon Size="UIETextSize.Small" Color="UIETextColor.Info" IconClass="fas fa-retweet" /></a>
                                        </UILevelItem>
                                        <UILevelItem>
                                            <a><UIIcon Size="UIETextSize.Small" Color="UIETextColor.Info" IconClass="fas fa-heart" /></a>
                                        </UILevelItem>
                                    </UILevelLeft>
                                </UILevel>
                            </UIMediaContent>

                            <UIMediaRight>
                                <UIDelete />
                            </UIMediaRight>
                        </UIMedia>
                    }
                    else { }
                </UIColumn>
            </UIColumns>
        </UIBox>
        <UIBox>
            <UICodeShow>
                @((MarkupString)@"&lt;UIMedia&gt;
                        &lt;UIMediaLeft&gt;
                            &lt;UIImage Size=&quot;UIEImageSize.PX128&quot;&gt;
                                &lt;img src=&quot;images/128x128.png&quot;&gt;
                            &lt;/UIImage&gt;
                        &lt;/UIMediaLeft&gt;
                        &lt;UIMediaContent&gt;
                            &lt;UIContent&gt;
                                &lt;p&gt;
                                    &lt;strong&gt;John Smith&lt;/strong&gt; &lt;small&gt;&amp;#64;johnsmith&lt;/small&gt; &lt;small&gt;31m&lt;/small&gt;
                                    &lt;br&gt;
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                &lt;/p&gt;
                            &lt;/UIContent&gt;
                            &lt;UILevel&gt;
                                &lt;UILevelLeft&gt;
                                    &lt;UILevelItem&gt;
                                        &lt;UIButton&gt;&lt;UIIcon Size=&quot;UIETextSize.Small&quot; Color=&quot;UIETextColor.Info&quot; IconClass=&quot;fas fa-reply&quot; /&gt;&lt;/UIButton&gt;
                                    &lt;/UILevelItem&gt;
                                    &lt;UILevelItem&gt;
                                        &lt;UIButton&gt;&lt;UIIcon Size=&quot;UIETextSize.Small&quot; Color=&quot;UIETextColor.Info&quot; IconClass=&quot;fas fa-retweet&quot; /&gt;&lt;/UIButton&gt;
                                    &lt;/UILevelItem&gt;
                                    &lt;UILevelItem&gt;
                                        &lt;UIButton&gt;&lt;UIIcon Size=&quot;UIETextSize.Small&quot; Color=&quot;UIETextColor.Info&quot; IconClass=&quot;fas fa-heart&quot; /&gt;&lt;/UIButton&gt;
                                    &lt;/UILevelItem&gt;
                                &lt;/UILevelLeft&gt;
                            &lt;/UILevel&gt;
                        &lt;/UIMediaContent&gt;

                        &lt;UIMediaRight&gt;
                            &lt;UIDelete /&gt;
                        &lt;/UIMediaRight&gt;
                    &lt;/UIMedia&gt;")
            </UICodeShow>
        </UIBox>
        <UIContent>
            <p>下面，我们来继续实现一个评论框。</p>
        </UIContent>
        <UIBox>
            <UIMedia>
                <UIMediaLeft>
                    <UIImage Size="UIEImageSize.PX64"><img src="/images/128x128.png" /></UIImage>
                </UIMediaLeft>
                <UIMediaContent>
                    <UIField>
                        <UIControl>
                            <UITextarea Placeholder="Add a comment..."></UITextarea>
                        </UIControl>
                    </UIField>
                    <UILevel>
                        <UILevelLeft>
                            <UILevelItem><UIButton Color="UIEColor.Info">提交评论</UIButton></UILevelItem>
                        </UILevelLeft>
                        <UILevelRight>
                            <UILevelItem>
                                <UICheckbox>同时转发到个人空间</UICheckbox>
                            </UILevelItem>
                        </UILevelRight>
                    </UILevel>
                </UIMediaContent>
            </UIMedia>
        </UIBox>

        <UIBox>
            <UICodeShow>
                @((MarkupString)@"&lt;UIMedia&gt;
                &lt;UIMediaLeft&gt;
                    &lt;UIImage Size=&quot;UIEImageSize.PX64&quot;&gt;&lt;img src=&quot;/images/128x128.png&quot; /&gt;&lt;/UIImage&gt;
                &lt;/UIMediaLeft&gt;
                &lt;UIMediaContent&gt;
                    &lt;UIField&gt;
                        &lt;UIControl&gt;
                            &lt;UITextarea Placeholder=&quot;Add a comment...&quot;&gt;&lt;/UITextarea&gt;
                        &lt;/UIControl&gt;
                    &lt;/UIField&gt;
                        &lt;UILevel&gt;
                            &lt;UILevelLeft&gt;
                                &lt;UILevelItem&gt;&lt;UIButton Color=&quot;UIEColor.Info&quot;&gt;提交评论&lt;/UIButton&gt;&lt;/UILevelItem&gt;
                            &lt;/UILevelLeft&gt;
                            &lt;UILevelRight&gt;
                                &lt;UILevelItem&gt;
                                    &lt;UICheckbox&gt;同时转发到个人空间&lt;/UICheckbox&gt;
                                &lt;/UILevelItem&gt;
                            &lt;/UILevelRight&gt;
                        &lt;/UILevel&gt;
                &lt;/UIMediaContent&gt;
            &lt;/UIMedia&gt;")
            </UICodeShow>
        </UIBox>
    </UIColumn>
</UIColumns>

@code{
    private bool IsShow = true;
    private void Down(MouseEventArgs e)
    {
        IsShow = false;
    }
}