@page "/Doc/Radio"
<UIColumns>
    <UIColumn Size="UIEColumnSize.X2">
        <DocsMenu />
    </UIColumn>
    <UIColumn Size="UIEColumnSize.X10">
        <UIH2>单选框(UIRadio)</UIH2>
        <p>没有复杂的属性配置，直接使用就是了。 不能设置颜色和大小等。</p>
        <UIColumns>
            <UIColumn Size="UIEColumnSize.Half">
                <UIControl>
                    <UIRadio>Yes</UIRadio>
                    <UIRadio>No</UIRadio>
                </UIControl>
            </UIColumn>
            <UIColumn Size="UIEColumnSize.Half">
                <UICode>
                    &lt;UIControl&gt;
                    &lt;UIRadio&gt;Yes&lt;/UIRadio&gt;
                    &lt;UIRadio&gt;No&lt;/UIRadio&gt;
                    &lt;/UIControl&gt;
                </UICode>
            </UIColumn>
        </UIColumns>
    </UIColumn>
</UIColumns>
